@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    outline:1px solid red;
}

body{
    margin: 0;
    font-size: 40px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#introBox{
    background-color: white;
    height:50rem;
    font-family: "Lato", sans-serif;
    flex-direction: row;
}

#introContents{
    width:90rem;
    height:31rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#introImage{
    background-image: url("content/image.jpg");
    width:40rem;
    height:27rem;
    border-radius: 5rem;
    margin:2rem;
}

#introHeading{
    width:40rem;
    height:10rem;
}